<app-modal>
    <div class="flex items-center">
        <h3 class="text-base font-bold ml-2 sm:text-2xl">Almost there!</h3>
    </div>

    <hr class="border border-blue-300 rounded mt-2 opacity-20">

    <div class="p-4 max-h-80 h-full flex flex-col justify-between">
        <div class="flex flex-col gap-y-4">
            <h3 class="font-semibold text-lg">Please tell us when to remind you:</h3>
            <select name="reminder" id="reminder" class="bg-black border border-white rounded p-1 w-32"
                (change)="setReminder($event)">
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60" [defaultSelected]="true">1 hour</option>
            </select>
        </div>
        <button
            class="font-bold border border-white px-1 py-2 min-w-max w-full rounded hover:text-black hover:bg-white transition-all duration-300 disabled:cursor-not-allowed disabled:hover:bg-black disabled:hover:text-white disabled:opacity-60"
            type="button" (click)="emitAddReminder()" [disabled]="!reminder.valid">SAVE</button>
    </div>
</app-modal>