<app-overlay (click)="closeModal()">
</app-overlay>

<app-modal>
    <div class="flex items-center">
        <h3 class="text-base font-bold ml-2 sm:text-2xl">Create New Cup</h3>
        <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="h-10 w-10 fill-blue-300 cursor-pointer ml-auto" viewBox="0 0 16 16">
            <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>

    <hr class="border border-blue-300 rounded mt-2 opacity-20">

    <div class="p-4 max-h-80 h-full flex flex-col justify-between">
        <div class="flex flex-col gap-y-2">
            <h3 class="font-semibold text-lg">Cup size</h3>
            <input type="text"
                class="border border-white rounded bg-black p-1 w-full placeholder:font-bold placeholder:opacity-70"
                placeholder="Type the size..." [formControl]="cup" required>
        </div>

        <div class="">
            <h3 class="font-semibold text-lg mb-2">Icon</h3>
            <div class="flex pb-4 gap-5 overflow-x-auto scroll justify-start">
                <div *ngFor="let size of arrCupIcon"
                    class="border border-white rounded p-4 cursor-pointer hover:animate-pulse"
                    (click)="setCupIcon(size)" [ngClass]="icon.value === size ? 'bg-white' : ''">
                    <app-cup-icon [size]="size">
                    </app-cup-icon>
                </div>
            </div>
        </div>

        <button
            class="font-bold border border-white px-1 py-2 min-w-max w-full rounded hover:text-black hover:bg-white transition-all duration-300 disabled:cursor-not-allowed disabled:hover:bg-black disabled:hover:text-white disabled:opacity-60"
            type="button" (click)="createCup()" [disabled]="!cup.valid || !icon.valid">CREATE</button>
    </div>
</app-modal>